.page-printing {
    h4 {
        color:red
    }
    img {
        width: 140px;
        margin: 0 auto;
        display: block;
    }
    .img-container {
        text-align: center;
    }
    ion-icon {
        font-size: 40px; 
        display: block;
    }
}
