page-login {
    #header-login{
        background: linear-gradient(to right,#00d5ff, #0081cf);
        padding-top:60px;
        padding-bottom: 80px;
        color: white;
        text-align: center;
    }
    ion-card {
        transform: translateY(-60px);
    }
    .item-input ion-input{
        border-bottom: solid 1px #404c5e42;
    }
    .error {
        color: red;
    }
}
