page-cheque-modal {
    .scroll-content {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
    }
    img {
        display: block;
    }
    .btn-close {
        position: absolute;
          top: 30px;
    }
}
